@use "@/styles/functions.scss" as functions;
@use "@/styles/variables.scss" as variables;

.TableContainer {
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  .Table {
    background-color: #fff;
    border-radius: variables.$border-radius;
    padding: functions.spacing(2);
    width: 100%;

    th {
      text-align: initial;
      font-size: variables.$fsize-medium;
      font-weight: variables.$fweight-bold;
      padding: functions.spacing(0.5);
    }

    td {
      font-size: variables.$fsize-large;
      font-weight: variables.$fweight-semibold;
      padding: functions.spacing(1.5) functions.spacing(0.5);
    }
  }
}
