@use "@/styles/functions" as functions;
@use "@/styles/variables" as vars;

.VoteForm {
  display: flex;
  flex-direction: column;
  gap: functions.spacing(2);
  padding: functions.spacing(2) functions.spacing(2) functions.spacing(4);
  background: vars.$white;
  border-radius: vars.$border-radius;

  h4 {
    margin: 0;
  }

  .inputs {
    display: flex;
    gap: functions.spacing(2);

    & > input {
      width: 100%;
    }
  }
}
