@use "@/styles/functions" as functions;
@use "@/styles/variables" as vars;
@use "@/styles/breakpoints" as bpoints;

.VoteFormContainer {
  display: flex;
  flex-direction: column;
  background: vars.$white;
  border-radius: vars.$border-radius;
  padding: functions.spacing(2);
  gap: functions.spacing(2);
  margin-bottom: functions.spacing(4);

  h4 {
    display: flex;
    align-items: center;
    gap: functions.spacing(1);
    margin: 0;
  }

  form {
    padding-bottom: functions.spacing(2);

    .inputs {
      display: flex;
      flex-direction: column;
      gap: functions.spacing(2);

      & > button {
        min-width: 120px;
      }
    }
  }

  @include bpoints.media-query(medium) {
    form > .inputs {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns:
        repeat(3, minmax(120px, 1fr))
        120px;
    }
  }
}
