// colors
$white: #fff;
$gray: #efefef;
$light-gray: #fdfdfd;
$dark-gray: #8a8c90;

// misc
$border-radius: 8px;

// fonts
$fsize-small: 12px;
$fsize-medium: 14px;
$fsize-large: 16px;

$fweight-light: 300;
$fweight-normal: 400;
$fweight-semibold: 500;
$fweight-bold: 700;
